root {
  display: block;
}

.centered {
  text-align: center;
}

.blue-text{
  color: blue;
}

.sansSerif{
  font-family: sans-serif;
}

.table {
  border-spacing: 5px;
}

.didot-font{
    font: Didot;
    font-family: serif;
    
}


body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25)),
              url("images/coffeenews.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.h3-top{
    vertical-align: top;
}

.white-hr{
  border-color: white;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
  border-top: 1px;
  margin-left: 150px;
  margin-right: 150px;
  opacity: .9;
}


.white-navbar{
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
}


.big-header{
    font-size: 65px; 
    color: black;    
}

.news-div{
    display: flex;
    justify-content: center; /* For horizontal alignment */
    background-color: white;
    opacity: .9;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
    
}

.centered-container{
    height: auto;
    margin: auto;
    text-align: center;    
  
}
