#root {
 max-width: 1200px;
 margin: 0 auto;
}

.centered {
  text-align: center;
}

.table {
  border-spacing: 5px;
}

.didot-font{
    font-family: Alegreya;
    font-family: serif;

}

.a-card {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  target="_blank";
}


.card {
 margin: 1rem;
 border: 1px solid gray;
 display: flex;

}


.container {
 display: flex;
 flex-wrap: wrap;
}




.card-header{
  font: Didot;
  font-family: serif;
  text-align: center;
  font-size: 20px;
}

.card-p {
  font: Didot;
  font-family: serif;
  margin: 10px;
  font-size: 15px;
}

.card-image{
  margin: 5px;
  max-width:100%;
}

@media screen and (min-width: 600px) {
 .card {
   flex: 1 calc(90% - 1rem);
 }
}

@media screen and (min-width: 900px) {
 .card {
   flex: 1 calc(33% - 1rem);
 }
}


body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2)),
              url("images/coffeenews.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.h3-top{
    vertical-align: top;
}

.white-hr{
  border-color: white;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
  border-top: 1px;
  margin-left: 150px;
  margin-right: 150px;
  opacity: .9;
}


.white-navbar{
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
}


.big-header{
    font-size: 65px;
    color: white;
}

.news-div{
    display: flex;
    justify-content: center; /* For horizontal alignment */
    background-color: white;
    opacity: .9;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.5);

}

.centered-container{
    height: auto;
    margin: auto;
    text-align: center;

}
