root {
  display: block;
}

.centered {
  text-align: center;
}

.blue-text{
  color: blue;
}

.sansSerif{
  font-family: sans-serif;
}

.table {
  border-spacing: 5px;
}


body {
  background: url(image/newsbackground.jpg);
}